.DS_Store
_site
node_modules
_drafts
.idea
*.iml
.vscode
.jekyll
.jekyll-cache
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
package.json
*.gem
*.gemspec
examples/twitter/.env
*.ipynb_checkpoints
