---
layout: minimal
title: "#Tags"
permalink: /tags/index.html
description: "Search through id5415 #tag."
---

<div class="tags">
  {% assign tags_list =  site.id5415 | map: 'tags' | join: ','  | split: ',' | uniq %}
    {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
          <a href="#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    {% else %}
      {% for tag in tags_list %}
          <a href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
      {% endfor %}
    {% endif %}
  {% assign tags_list = nil %}
  </div>
  
  {% assign tags =  site.id5415 | map: 'tags' | join: ','  | split: ',' | uniq %}
  {% for tag in tags %}
    <span class="tag-title" id="{{ tag | slugify }}">{{ tag }}</span>
    <ul>
    {% for page in site.id5415 %}
      {% if page.tags contains tag %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endfor %}