.post-content 
    .tags
        margin-top rem(30px)
        a
            font-size rem(14px)
            color main
            display inline-block
            border 1px solid main
            border-radius rem(5px)
            padding rem(4px) rem(10px)
            margin-right rem(2px)
            margin-bottom rem(8px)
            text-decoration none
            &:hover
                color darken(main, 40%)
                border 1px solid darken(main, 40%)
                background #fff

.img-rounded
    border-radius 50%

#markdown-toc ul
    list-style none

#markdown-toc li
    line-height 50%

#markdown-toc
    list-style none

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}